@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #141519; }
  body .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 380px;
    border-radius: 15px;
    padding: 20px;
    background-color: #1f2630;
    box-shadow: 0px 0px 10px rgba(167, 162, 162, 0.39); }
    body .container .star-container {
      width: 45px;
      height: 45px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #262f38; }
      body .container .star-container img {
        width: 20px;
        height: 20px; }
    body .container .principal-title {
      padding: 20px 0;
      color: white;
      font-family: 'Overpass', sans-serif;
      font-weight: 400; }
    body .container .information {
      font-size: 18px;
      color: #858b95;
      font-family: 'Overpass', sans-serif;
      font-size: 16px; }
    body .container .points-section {
      padding: 20px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      body .container .points-section .point {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #262f38;
        color: #808895;
        font-family: 'Overpass', sans-serif;
        cursor: pointer; }
        body .container .points-section .point:hover {
          background-color: #fc7613;
          color: black; }
    body .container .button {
      border-radius: 40px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fc7613;
      color: white;
      font-size: 20px;
      cursor: pointer;
      font-family: 'Overpass', sans-serif;
      font-weight: 400;
      box-shadow: 0px 0px 5px #948f8f; }
      body .container .button:active {
        background-color: rgba(197, 91, 15, 0.76);
        box-shadow: none; }
