body {
    background-color: rgb(20,21,25);
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // border: 1px solid red;
        width: 300px;
        height: 380px;
        border-radius: 15px;
        padding: 20px;
        background-color: rgb(31,38,48);
        box-shadow: 0px 0px 10px rgba(167, 162, 162, 0.39);
        .star-container {
            // border: 1px solid red;
            width: 45px;
            height: 45px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(38,47,56);
            img {
                width: 20px;
                height: 20px;
            }
        }
        .principal-title {
            padding: 20px 0;
            color: white;
            font-family: 'Overpass', sans-serif;
            font-weight: 400;
        }
        .information {
            font-size: 18px;
            color: rgb(133,139,149);
            font-family: 'Overpass', sans-serif;
            font-size: 16px;
        }
        .points-section {
            // border: 1px solid blue;
            padding: 20px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .point {
                // border: 1px solid green;
                width: 40px;
                height: 40px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(38,47,56);
                color: rgb(128,136,149);
                font-family: 'Overpass', sans-serif;
                cursor: pointer;
                &:hover {
                    background-color: rgb(252,118,19);
                    color: black;
                }
            }
        }
        .button {
            // border: 4px solid red;
            border-color:rgb(252,118,19);
            border-radius: 40px;
            height: 45px;
            width: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(252,118,19);
            color: white;
            font-size: 20px;
            font-family: 'Overpass', sans-serif;
            font-weight: 400;
            box-shadow: 0px 0px 5px rgb(148, 143, 143);
            &:active {
                background-color: rgba(197, 91, 15, 0.76);
                box-shadow: none;
            }
            a {
                // border: 2px solid red;
                border-radius: 40px;
                height: 45px;
                width: 100%;
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

